<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="service-name">Reader Robot: </Property>
    </Properties>

    <Loggers>
        <Logger name="org.hibernate" level="INFO" additivity="false">
            <!--<AppenderRef ref="File-Appender"/>-->
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="Kafka" />
        </Logger>
        <Logger name="org.apache.kafka" level="INFO" additivity="false"/>
        <Root level="DEBUG">
            <!--<AppenderRef ref="File-Appender"/>-->
            <AppenderRef ref="Kafka" />
            <AppenderRef ref="Console-Appender" />
        </Root>
    </Loggers>
</Configuration>